*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    background-color: black;
}
.BodyContainer {
    position: relative;
}
section {
    background-color: black;
    display: flex;
    justify-content: center;

}



/*Text stylings*/
h1 {
    color: white;
    font-size: 7rem;
    font-weight: 100;
}
h2 {
    color: white;
}
p {
    color: white;
}



/*First section components and styling*/
#st{
    background-color: black;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
}
.ProjectImgOne {
    width: auto;
    height: 200px;
}
.FirstProjectSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



/*First section components and styling*/
.ndsection {
    background-color: black;
    height: 85vh;
}
.ProjectImgTwo {
    width: auto;
    height: 200px;
}
.SecondProjectSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}



/*Div with text styling and placements */
.ProjectSummary {
    display: flex;
    flex-direction: row;
}



/*mobile styling*/
@media only screen and (min-width: 375px)(max-width: 441px) {
    
    /*Text stylings*/
    h1 {
        font-size: 3rem;
    }
    h2 {

        font-size: 0.97rem;
    }
    p {
        font-size: 0.60rem;
    }
    
    
    
    /*First section components and styling*/
    
    .ProjectImgOne {
        width: auto;
        height: 150px;
    }
    .FirstProjectSummary {
        gap: 0.5rem;
    }
    
    
    
    /*First section components and styling*/
    .ProjectImgTwo {
        width: auto;
        height: 150px;
    }
    .SecondProjectSummary {
        gap: 0.5rem;
    }
}
    /*Tablet styling*/
    @media only screen and (min-width: 442px)(max-width: 700px) {
    
        /*Text stylings*/
        h1 {
            font-size: 3rem;
        }
        h2 {
    
            font-size: 0.97rem;
        }
        p {
            font-size: 0.60rem;
        }
        
        
        
        /*First section components and styling*/
        
        .ProjectImgOne {
            width: auto;
            height: 150px;
        }
        .FirstProjectSummary {
            gap: 0.5rem;
        }
        
        
        
        /*First section components and styling*/
        .ProjectImgTwo {
            width: auto;
            height: 150px;
        }
        .SecondProjectSummary {
            gap: 0.5rem;
        }

    }